.git
.gitignore
.next
.DS_Store
README.md
Dockerfile
.dockerignore
node_modules
npm-debug.log
.env
.env.local
.env.development
.env.test
.env.production
*.log
.vscode
.idea
coverage
.eslintrc*
.prettier*
.husky
*.md
tsconfig.tsbuildinfo 